body {
    margin: 60px auto;
    width: 70%;
}
h1 {
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
h2 {
    font-size: 1.7em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    color: #333;
}
p {
    font-size: 1.2em;
    line-height: 1.4em;
    color: #333;
}
